
body{
    margin: 0;
    font-family: sans-serif;
    background: #0f0f0f;
    color: #f5f5f5;
    line-height: 1.6;
}
.contenar{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.ava{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #00f0d1;
    object-fit: cover;
    margin-bottom: 15px;
}
h1{
    font-size: 28px;
    color:#fff;
    margin-bottom: 10px;
}
p.sub{
color: #bbb;
margin-bottom: 25px;
}
.cards{
    display: flex;
  

    gap: 15px;
    margin-bottom: 30px;
}
.card{
     background: #1a1a1a; 
    padding: 15px;
    border-radius: 15px;
    border:1px solid rgba(255,255 ,255 ,.1 ) ; 
    transition: 0.5s;

}
.card:hover{
    transform: translateY(-5px);
    border-color: #00f0d1;
}
.btn{
    display:inline-block ;
    background: transparent;
    color: #00f0d1;
    border: 2px solid #00f0d1;
    padding: 10px 20px ;
    border-radius: 9px;
    text-decoration: none;
    transition: 0.6s;

}
.btn:hover{
    background: #00f0d1;
    color: #0f0f0f;
}
.about{
    margin-top: 30px;
    text-align: left;

}
.about h2{
    color: #00f0d1;
    margin-bottom: 10px;
    text-align: center;
}
.about p{
    color: #ddd;
    font-size: 20px;
}
.aaa{
    font-size: 30px;
   text-align: left;
}
a{
    text-decoration: none;
    color:#fff
    
    
    
   

}
.contact-btn{
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    background: #00ffbf;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}
.contact-btn:hover{
    background: #00cfa0;
}
